$green: #56b760;
$primary: $green;
$secondary: #ff7a08;
$yellow: #fffdab;
$color-gray1: #ededed;
$color-gray2: #bcbcbc;
$negative: #c63134;
$color-border: hsl(0, 0%, 89%);
$avatar-size: 50px;

$size-xs: 4px;
$size-s: 8px;
$size-m: 16px;
$size-l: 24px;
$size-xl: 32px;


@import '~bootstrap/scss/bootstrap';
