.l_flex{
  display: flex;
  align-items: center;
  //>*:not(:last-child){
  //  margin-right:$size-m;
  //}
}

.margin_r_xs{
  margin-right: $size-xs;
}

.margin_r_s{
  margin-right: $size-s;
}

.margin_l_auto{
  margin-left: auto;
}

.margin_r_auto{
  margin-right: auto;
}

.margin_b_zero{
  margin-bottom: 0;
}

